.contenedor-formulario{
    margin-top: 5%;
    padding: 70px 45px;
    background-color: #ffffff75 !important;
    border-radius: 5px;
    color: #ffffff;
}

.contenedor-formulario a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}